name: Test parcel with libcloudph++

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        build_type: ["RelWithDebInfoPortable", "Debug"]

    steps:

    - uses: actions/checkout@v6

    - name: Check path
      run: echo ${{ github.workspace }}

    # # === Load apptainer image ===
    # - name: load UWLCM Apptainer image
    #   uses: igfuw/load_UWLCM_singularity_image@main
    #   with:
    #     path: ${{ github.workspace }}/singularity_images
    #     tag: uwlcm_ubuntu_24_04_cuda_12_9_0

    # === Build libcloudph++ ===
    - name: Checkout libcloudph++ repo
      uses: actions/checkout@v6
      with:
        repository: igfuw/libcloudphxx
        path: libcloudphxx

    - name: Build and install libcloudph++
      uses: igfuw/libcloudphxx_build@master
      with:
        disable_cuda: true
        build_type: ${{ matrix.build_type }}
        threads: 4
        path: ${{ github.workspace }}/libcloudphxx
        singularity_path: ${{ github.workspace }}/singularity_images
        install_prefix: ${{ github.workspace }}/installed

    # === Prepare environment ===
    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=${{ github.workspace }}/installed$(python3 -c 'import sysconfig; print(sysconfig.get_path("platlib"))')" >> $GITHUB_ENV

    - name: Check PYTHONPATH
      run: echo ${PYTHONPATH}

    # === Run parcel tests ===
    - name: checkout parcel repo
      uses: actions/checkout@v6
      with:
        repository: igfuw/parcel
        path: parcel
    - name: Create output folder
      run: mkdir parcel/plots/outputs

    - name: run parcel tests
      working-directory: ${{github.workspace}}/parcel
      run: apptainer exec -B${{ github.workspace }}/installed $SI python3 -m pytest -s -v unit_test

    - name: run long tests
      working-directory: ${{github.workspace}}/parcel
      run: apptainer exec -B${{ github.workspace }}/installed $SI python3 -m pytest -s -v long_test
    - name: run unit tests debug
      working-directory: ${{github.workspace}}/parcel
      run: apptainer exec -B${{ github.workspace }}/installed $SI python3 -m pytest -s -v unit_test_debug