name: Test parcel with libcloudph++

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        build_type: ["RelWithDebInfoPortable", "Debug"]

    steps:
    - uses: actions/checkout@v6

    # Build libcloudph++
    - name: Create install folder
      run: mkdir -p ${{ github.workspace }}/installed

    - name: Checkout libcloudph++ repo
      uses: actions/checkout@v6
      with:
        repository: igfuw/libcloudphxx
        path: libcloudphxx

    - name: Build and install libcloudph++
      uses: igfuw/libcloudphxx_build@master
      with:
        disable_cuda: true
        build_type: ${{ matrix.build_type }}
        threads: 4
        path: ${{ github.workspace }}/libcloudphxx
        singularity_path: ${{ github.workspace }}/singularity_images
        install_prefix: ${{ github.workspace }}/installed

    # Install libcloudph++
    - name: Install libcloudph++
      run: sudo cmake --install ${{ github.workspace }}/libcloudphxx/build

    - name: Clean up libcloudphxx source
      run: rm -rf ${{ github.workspace }}/libcloudphxx

    # Prepare environment
    - name: Set PYTHONPATH for Apptainer
      run: |
        FULL_PATH="${{ github.workspace }}/installed$(python3 -c 'import sysconfig; print(sysconfig.get_path("platlib"))')"
        echo "FULL_PATH=$FULL_PATH" >> $GITHUB_ENV

    # Run parcel tests
    - name: checkout parcel repo
      uses: actions/checkout@v6
      with:
        repository: igfuw/parcel
        path: parcel

    - name: Create output folder
      run: mkdir -p parcel/plots/outputs

    - name: run parcel tests
      working-directory: ${{ github.workspace }}/parcel
      run: |
        apptainer exec \
          --env PYTHONPATH=$FULL_PATH \
          -B ${{ github.workspace }} \
          -B ${{ github.workspace }}/installed \
          $SI \
          python3 -m pytest -s -v unit_test


    - name: run long tests
      working-directory: ${{ github.workspace }}/parcel
      run: |
        apptainer exec \
          --env PYTHONPATH=$FULL_PATH \
          -B ${{ github.workspace }} \
          -B ${{ github.workspace }}/installed \
          $SI \
          python3 -m pytest -s -v long_test

    - name: run unit tests debug
      working-directory: ${{ github.workspace }}/parcel
      run: |
        apptainer exec \
          --env PYTHONPATH=$FULL_PATH \
          -B ${{ github.workspace }} \
          -B ${{ github.workspace }}/installed \
          $SI \
          python3 -m pytest -s -v unit_test_debug